DATABASE_URL="postgresql://postgres.fugzpyffiszdemifqqbu:oELiVkLmukbgvPuJ@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres"

AUTH_SECRET=9d5c8c496135edfcaa2d1973fa80282f3276554a0633e8861420ed742e15bf49